<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--接口式编程 namespace名字与接口的全类名相同，id与接口的抽象方法名相同  -->
<mapper namespace="com.haut.dao.UserDao">
    
    <!--id:唯一标识; resultType:返回值类型,一般为javabean里的对象 -->
    <!--接口式编程 id与接口方法一致  -->
    <select id="selUser" resultType="com.haut.entity.LoginUser" parameterType="com.haut.entity.LoginUser"> 
    <!-- 从传入过来的参数值取出id值 -->
    select * from  t_loginuser where uid=#{uid} and upass=#{upass}
    </select>
    <insert id="addUser">
    INSERT INTO t_loginuser(upass)  VALUE(#{upass})
    </insert>
    
</mapper>